<div class='mx-4 my-2'>
  <h4>Create a blog</h4>
  <form method='post' action='/blogs/store'>
    <div class='form-group'>
      <label for='name'>Blog name</label>
      <input
        type='text'
        class='form-control'
        id='name'
        name='name'
        placeholder='Input you blog name'
      />
    </div>
    <div class='form-group'>
      <label for='slug'>BLog ID</label>
      <input
        type='text'
        class='form-control'
        id='slug'
        name='slug'
        placeholder='Input you blog ID'
      />
    </div>
    <div class='form-group'>
      <label for='description'>Description</label>
      <textarea
        class='form-control'
        name='description'
        id='description'
        rows='3'
      ></textarea>
    </div>
    <div class='form-group'>
      <label for='content'>Content</label>
      <textarea
        class='form-control'
        id='content'
        name='content'
        rows='3'
      ></textarea>
    </div>
    <button class='btn btn-primary' type='submit'>Submit</button>
  </form>
</div>