<div class="search_form container mt-4">
  <form method="GET" action="/news">
    <div class="form-group">
      <label for="disabledTextInput">Input key</label>
      <input type="text" id="disabledTextInput" class="form-control" placeholder="Input key to search" name="key">
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
  </form>
  <form method="POST">
    <div class="form-group">
      <label for="add_user">User Name</label>
      <input type="text" id="add_user" class="form-control" placeholder="Input user's name" name="name">
    </div>
    <button type="submit" class="btn btn-primary">Add</button>
  </form>
</div>